.arrows{
    color:#fff; 
    border: 1px solid  #000;
    background-color:black;
    opacity: 0.5;
    padding:6px 12px 6px 12px;
    position:relative;
    bottom:300px;
    font-size: 24px;
}
.arrows:hover {
    opacity: 1;
}
.card:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
    transition: transform 0.3s ease;
}
.card:hover .card_image{
    transform: scale(0.94); /* Scale the child element down */
    border: 1px solid lightgray;
    transition: transform 0.2s ease; /* Smooth transition for the child */
}
.card_image{
    height:375px;
    width:100%;
    margin: auto;
    display:block;
    border-radius: 0;
    background-color:black;
    border-bottom: 0.5px solid #ccc; 
    z-index: 2;
    
}
.cart_button{
background: none;
border: none;
padding: 20px;
cursor: pointer;
font-size: 25px;
}
.cart_pimage{
    width: 100%;
     border: 1px solid #eee; 
     min-height: 180px;
}
.quick_but{
position: relative;
bottom: 90px;
left: 130px;
z-index: 3;
background-color: limegreen;
border:1px solid limegreen ;
border-radius: 50%;
padding:5px 8px 5px 8px;
cursor: pointer;
font-size: 20px;
color: white;
}
.instock_button{
   
    background-color: limegreen;
    border: limegreen;
    font-size: 20px;
    padding: 15px;
}

.outstock_button{
    background-color: grey;
    border: gray;
    font-size: 20px;
    padding: 15px;
    cursor: crosshair;
}
.outstock_button:hover {
    background-color: grey; /* Change color on hover */
    cursor: not-allowed;
}
.stock{
    position: absolute; 
    top: 40%; 
    left: 25%;
    font-weight: bold;
    font-size: 32px;
    color: lightgray;
}
.chosen_cat{
    color:'limegreen';
    border-bottom: 2px solid limegreen;
}
.text_attr{
    border: 2px solid black;
    padding: 12px 0px 12px 0px;
    margin: 5px 25px 5px 0px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.text_attr_value{
    display: inline;
    border: 2px solid black;
    padding: 12px 10px 12px 10px;
}
.swatch_attr{
    cursor: pointer;
    padding: 0px;
    margin: 5px;
    
}
.cart_open{
    opacity: 0.4;
    background-color: grey;
    animation: darkenEffect 1s forwards;
}
.cart_button_working{
    background-color: limegreen;
    border: limegreen;
    font-size: 14px;
    padding: 10px;
    border-radius: 0px;
}
.cart_button_disabled{
    background-color: grey;
    border: grey;
    cursor: not-allowed;
    border-radius: 0px;
}
.cart_overlay{
    position: absolute;
    top: 108px;
    width: 350px;
    background-color: white;
    z-index: 3;
    padding: 20px;
}
.bubble_num{
font-size: 12px;
margin: 0px 5px 0 5px;
color: white;
}
.bubble{
position: relative;
background-color: black;
border-radius: 50%;
right: 10px;
bottom: 16px;
}
@keyframes darkenEffect {
    0% {
      filter: brightness(1); /* Fully bright (normal) */
      background-color: lightgrey;
    }
    100% {
      filter: brightness(0.5); /* Darkest point (20% brightness) */
      background-color: gray;
    }
  }